.tranmere-results{

    .card{
        margin-bottom:40px;

        .card-body {
            background-position: right 20px top 20px;
            background-repeat: no-repeat;
        }

        .card-title, .card-text {
            width: 65%;
        }
    }


}