/data/clubs/*
/data/conference/*
/data/facup/*
/data/leaguecup/*
/data/matches/*
/data/playoffs/*
/data/apps-master/raw/*
/data/apps/*/*.csv
.idea
node_modules/
site
icons
/tranmere-web/output/site/*.html
/tranmere-web/node_modules/
/tranmere-web-api/scripts/
/tranmere-web-api/src/
/tranmere-web/output/assets/css/*.css
/tranmere-web/output/assets/js/vendor*.js
/tranmere-web/output/site/managers/*.html
/tranmere-web/output/site/competitions/*.html
/tranmere-web/output/site/seasons/*.html
/tranmere-web/output/site/teams/*.html
/tranmere-web/output/site/players/*.html
/tranmere-web/output/site/player-season/*.html
**/.DS_Store
/tranmere-web-api/sam/packaged.yaml
/images/*
/data/goals/*
tranmere-web/package-lock.json
/data/log.txt
/data/games/games.csv
/data/apps/1993/1.csv
/data/apps/1993/2.csv
/data/apps/1993/3.csv
/data/apps/1993/4.csv
/data/apps/1993/5.csv
/data/apps/1993/6.csv
/data/apps/1993/7.csv
/data/apps/1993/8.csv
/data/apps/1993/9.csv
/data/apps/1993/10.csv
/data/apps/1993/11.csv
/packaged.yaml
/data/apps-master/AllResults.xlsx
/data/stars/stars.csv
/data/programmes/programmes.csv
