<div class="row">
    <div class="col-6">
        <div class="row gutter-2">
            <div class="col">
                <img width="350px" src="{{base}}{{img}}"/>
                <h4>Link: <a href="{{base}}{{img}}">here</a></h4>
            </div>
        </div>
    </div>
    
    <div class="col-6">
        <div class="row gutter-2">
            <div class="col">
                <img width="100px" src="{{base}}{{img}}"/>
            </div>
        </div>
    </div>
</div>