{{#hatTricks}}
<div class="card stacked" style="margin-bottom:50px">
    <div class="card-body">
        <div class="row gutter-2 align-items-center">
            <div class="col">
                <a href="/page/player/{{Player}}" class="topic">
                    <h3 class="card-title mb-1">{{Player}}</h3>
                    <h4 class="card-title mb-1">{{Opposition}}</h4>
                    <p>{{Date}}</p>
                    <p>{{Goals}} Goals</p>
                </a>
            </div>
            <div class="col">
                <div>
                    <a href="/match/{{Season}}/{{Date}}" class="btn btn-sm btn-rounded btn-primary">Report</a>
                </div>
            </div>
        </div>
    </div>
</div>
{{/hatTricks}}