<header class="header header-sticky header-transparent" id="homenav">
    <div class="container">
        <div class="row">
            <nav class="navbar navbar-expand-lg navbar-dark">
                <div itemscope itemtype="http://schema.org/Organization">
                    <a itemprop="url" href="/" title="Tranmere-Web.com" class="navbar-brand"><img src="/assets/images/logo_white_transparent.png" alt="Tranmere-Web.com" itemprop="logo"></a>
                </div>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="resultsNav" role="button" data-toggle="dropdown"
                               aria-haspopup="true" aria-expanded="false">
                                Results
                            </a>
                            <div class="dropdown-menu" aria-labelledby="resultsNav">
                                <a class="dropdown-item" href="/results">Results Home</a>
                                <a class="dropdown-item" href="/games/at-wembley">Tranmere At Wembley</a>
                                <a class="dropdown-item" href="/games/penalty-shootouts">Penalty Shootouts</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="playersNav" role="button" data-toggle="dropdown"
                               aria-haspopup="true" aria-expanded="false">
                                Players
                            </a>
                            <div class="dropdown-menu" aria-labelledby="playersNav">
                                <a class="dropdown-item" href="/playersearch">Players Home</a>
                                <a class="dropdown-item" href="/player-records/most-appearances">Most Tranmere Appearances</a>
                                <a class="dropdown-item" href="/player-records/top-scorers">Most Tranmere Goals</a>
                                <a class="dropdown-item" href="/player-records/only-one-appearance">Only Played Once</a>
                                <a class="dropdown-item" href="/top-scorers-by-season">Top Scorers By Season</a>
                                <a class="dropdown-item" href="/hat-tricks">Hat Tricks</a>
                                <a class="dropdown-item" href="/super-stars">Opposition Stars</a>
                                <a class="dropdown-item" href="/transfer-central">Transfers</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="statsNav" role="button" data-toggle="dropdown"
                               aria-haspopup="true" aria-expanded="false">
                                Stats
                            </a>
                            <div class="dropdown-menu" aria-labelledby="statsNav">
                                <a class="dropdown-item" href="/page/blog/2VrsLTKALyi2vgAQMLDoIT">Stats Home</a>
                                <a class="dropdown-item" href="/games/top-attendances">Highest Tranmere Attendances</a>
                                <a class="dropdown-item" href="/games/top-home-attendances">Highest Tranmere Attendances at Prenton Park</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="mediaNav" role="button" data-toggle="dropdown"
                               aria-haspopup="true" aria-expanded="false">
                                Media
                            </a>
                            <div class="dropdown-menu" aria-labelledby="mediaNav">
                                <a class="dropdown-item" href="/page/blog/7wtrOLaYqaK7Dhvodz1Gv0">Media Home</a>
                                <a class="dropdown-item" href="/page/blog/7GNQCz3dEPOCvuyfcHTWvA">Books</a>
                                <a class="dropdown-item" href="/page/blog/7gk4gmq9N6ibfree9KOl1j">Football Cards</a>
                                <a class="dropdown-item" href="/page/blog/5uUGSyqn2uTrGx4c24mhly">Testimonials & Benefit Matches</a>
                                <a class="dropdown-item" href="/player-builder">Player Avatar Builder</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link" href="https://chat.tranmere-web.com" id="chat" role="button"
                               aria-haspopup="false" aria-expanded="false">
                                Tranmere AI
                            </a>
                        </li>
                    </ul>
                    <div id="navsearch"></div>
                </div>
            </nav>
        </div>
    </div>
</header>