<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/assets/styles/tranmere-web.css?r={{random}}" />

    <title>{{title}}</title>
    <meta name="title" content="{{title}} - Tranmere-Web" />
    <meta name="google" content="notranslate">
    <meta name="description" content="{{{description}}}">
    <link rel="canonical" href="https://www.tranmere-web.com{{{url}}}" />
    <script type="application/ld+json">
        {
            "@context": "https://schema.org",
            "@type": "WebSite",
            "url": "https://tranmere-web.com/",
            "potentialAction": {
                "@type": "SearchAction",
                "target": {
                    "@type": "EntryPoint",
                    "urlTemplate": "https://tranmere-web.com/search-results?q={search_term_string}"
                },
                "query-input": "required name=search_term_string"
            }
        }
    </script>
</head>