<div class="card bordered text-center">
    <div class="card-body pr-8">
        <h3 class="fs-28 text-dark"><b>On This Day</b> </h3>
        <h5>{{opposition}} ({{season}})</h5>
        <p class="mt-2"> <img src="https://images.tranmere-web.com/{{largeprogramme}}"/></p>
        <a href="/match/{{season}}/{{date}}" class="btn btn-primary">Match Report</a> 
        <i class="icon-backward icon-background"></i>
    </div>
</div>