<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/assets/styles/tranmere-web.css?r={{random}}">

    <title>{{title}}</title>
    <meta name="title" content="{{title}} - Tranmere-Web">
    <meta name="google" content="notranslate">
    <meta name="description" content="{{{description}}}">
    <link rel="canonical" href="https://www.tranmere-web.com{{{url}}}">
    <script type="application/ld+json">
        {
            "@context": "https://schema.org",
            "@type": "ProfilePage",
            "name": "{{title}} | Tranmere-Web",
            "url": "https://www.tranmere-web.com{{{url}}}",
            "description": "Player profile focussing on the Tranmere Rovers career of footballer {{name}}",
            "image": {
                "@type": "ImageObject",
                "url": "https://www.tranmere-web.com/assets/images/logo_v1.png",
                "width": 450,
                "height": 260
            },
            "mainEntity": {
                "@type": "Person",
                "name": "{{player.name}}",
                "url": "https://www.tranmere-web.com{{{url}}}",
                "gender": "Male",
                {{#player.dateOfBirth}}"birthDate": "{{player.dateOfBirth}}",{{/player.dateOfBirth}}
                {{#player.placeOfBirth}}
                "birthPlace": {
                    "@type": "Place",
                    "name": "{{player.placeOfBirth}}",
                },
                {{/player.placeOfBirth}}
                "affiliation": {
                    "@type": "Organization",
                    "name": "Tranmere Rovers"
                },
                {{#picLink}}
                "image": {
                    "@type": "ImageObject",
                    "url": "{{picLink}}",
                    "width": 200,
                    "height": 200
                }
                {{/picLink}}
                {{^picLink}}
                "image": {
                    "@type": "ImageObject",
                    "url": "https://www.tranmere-web.com/assets/images/logo_v1.png",
                    "width": 450,
                    "height": 260
                }
                {{/picLink}}
            }
        }
    </script>
</head>