<div class="container edit" style="display: none;">
    <div class="alert alert-warning alert-dismissible fade show" role="alert" style="display:none" id="fail-alert">
        <i class="icon-check2"></i>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">×</span>
        </button>
        <h4 class="fs-22">Oops - Something has gone wrong</h4>
        <p>Please try again later</p>
    </div>
    <div class="alert alert-success alert-dismissible fade show" role="alert" style="display:none" id="success-alert">
        <i class="icon-check2"></i>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">×</span>
        </button>
        <h4 class="fs-22">Done</h4>
    </div>
    <div class="row" id="transfer-form">
        <div class="col">
            <h3>Add Transfer!</h3>
            <div class="row gutter-1 gutter-md-2">
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input id="name" class="form-control" type="text" value="{{name}}"">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="date">Date</label>
                        <input id="date" class="form-control" type="text" placeholder="2022-01-31">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="from">From</label>
                        <select class="form-control" id="from">
                            <option>Tranmere Rovers</option>
                            <option>Youth</option>
                            {{#teams}}<option>{{name}}</option>{{/teams}}
                        </select>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="to">To</label>
                        <select class="form-control" id="to">
                            <option>Tranmere Rovers</option>
                            <option>Released</option>
                            <option>Retired</option>
                            {{#teams}}<option>{{name}}</option>{{/teams}}
                        </select>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="value">Value</label>
                        <input id="value" class="form-control" type="text" placeholder="Undisclosed, Free Transfer, Loan, £10,000">
                    </div>
                </div>
                <div class="col-md-12 mt-1">
                    <button class="btn btn-primary px-3 add-transfer-button">Insert</button>
                </div>
            </div>
        </div>
    </div>
</div>