{{>head}}
  <body data-spy="scroll" data-target="#toc">


  <!-- header -->
  {{>homenav}}
  <!-- / header -->


    <!-- hero -->
    {{>players-breadcrumb}}
    <!-- / hero -->

    <!-- sidebar layout -->
    <section class="overlay">
      <div class="container overlay-item-top">
        <div class="row">
          <div class="col">
            <div class="content boxed">
              <div class="row separated">

                <!-- content -->
                <article class="col-md-8 content-body">

                  {{#players}}
                  <div class="card stacked" style="margin-bottom:50px">
                    {{#Bio.Pic}}
                    <div class="card-body" style="background-image:url({{Bio.Pic}});background-position-x: right;background-size: contain;background-repeat: no-repeat;">
                      {{/Bio.Pic}}
                      {{^Bio.Pic}}
                      <div class="card-body">
                        <i class="icon-photo icon-background text-blue"></i>
                        {{/Bio.Pic}}
                      <div class="row gutter-2 align-items-center">
                        <div class="col">
                          <a href="/players/{{Name}}.html" class="topic">
                            <h3 class="card-title mb-1">{{Name}}</h3>
                            <p class="card-text mb-2">{{Starts}} starts ({{Subs}})  substitute appearances</p>
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                  {{/players}}


                </article>
                <!-- / content -->


                <!-- sidebar -->
                {{>recent}}
                <!-- / sidebar -->


              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- / sidebar layout -->


    {{>footer}}
  </body>
</html>