{{>head}}
  <body data-spy="scroll" data-target="#toc">


  <!-- header -->
  {{>homenav}}
  <!-- / header -->


  <!-- hero -->
  {{>stats-breadcrumb}}
  <!-- / hero -->

    <!-- sidebar layout -->
    <section class="overlay">
      <div class="container overlay-item-top">
        <div class="row">
          <div class="col">
            <div class="content boxed">
              <div class="row separated">

                <article class="col-md-8 content-body tranmere-results">

                  {{#matches}}
                  <div class="card" style="margin-bottom:50px">
                    {{#programme}}
                    <div class="card-body" style="background-image:url(https://images.tranmere-web.com/{{programme}});">
                      {{/programme}}
                      {{^programme}}
                      <div class="card-body">
                        <i class="icon-photo icon-background text-blue"></i>
                        {{/programme}}
                        <div class="row gutter-2 align-items-center">
                          <div class="col">
                            <h3 class="card-title mb-1">{{#attendance}}{{commaFormat}}{{/attendance}}</h3>
                            <p class="card-title mb-2">{{home}} {{FT}} {{visitor}}</p>
                            <p class="card-text mb-2">{{Venue}}</p>
                            <time datetime="{{Date}}" class="text-muted">{{Date}}</time>
                          </div>
                        </div>
                      </div>
                    </div>
                    {{/matches}}

                </article>


                <!-- sidebar -->
                {{>recent}}
                <!-- / sidebar -->



              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- / sidebar layout -->


    {{>footer}}
  </body>
</html>