{{>head}}
<body data-spy="scroll" data-target="#toc">


<section class="py-0">
    <div class="container-fluid">
        <div class="row justify-content-between">

            {{>nav2}}

            <!-- content -->
            <article class="col-lg-9 col-xxl-10 doc-content">

                {{>breadcrumb}}

                <div class="row justify-content-between doc-content-body">
                    <article class="col-md-9 col-xxl-8">

                        <h1 class="h2 font-weight-light">Tranmere Cup Competition Records</h1>
                        <p >Click the competition for more details</p>
                        {{#competitions}}
                        <div class="card stacked" style="margin-bottom:50px" >
                            <div class="card-body">
                                <div class="row gutter-2 align-items-center">
                                    <div class="col">
                                        <a href="/competitions/{{Name}}.html" class="topic" id="competition-{{Name}}">
                                            <h3 class="card-title mb-1">{{Name}}</h3>
                                            <p class="card-text mb-2">{{Count}} games</p>

                                        </a>
                                    </div>
                                </div>
                                <i class="icon-trophy icon-background text-blue"></i>
                            </div>
                        </div>
                        {{/competitions}}

                    </article>

                    <aside class="col-md-3 col-xxl-3 d-none d-md-block">
                        <div class="sticky">
                            <ul id="toc" class="nav flex-column toc">
                                <li class="nav-item">
                                    {{#competitions}}
                                    <a data-scroll class="nav-link" href="#competition-{{Name}}">{{Name}}</a>
                                    {{/competitions}}
                                </li>
                            </ul>
                        </div>
                    </aside>

                </div>

            </article>
            <!-- / content -->

        </div>
    </div>
</section>

{{>footer}}
</body>
</html>