{{>head}}
<body id="top" class="away">
{{>homenav}}
    <!-- hero -->
    <section style="padding-bottom:10px;">
      <div class="image image-overlay" style="background-image:url({{image}})"></div>
      <div class="container">
        <div class="row">
          <div class="col text-white">
            <h1 class="mb-3">{{title}}</h1>

          </div>
        </div>
      </div>
    </section>
    <!-- / hero -->

    <!-- listing inside -->
    <section class="overlay"  style="padding-top:0px;">
      <div class="container">
          {{>resultstable2}}

      </div>
    </section>
    <!-- / listing inside -->
{{>footer}}
</body>
</html>