{{>head}}


<!-- header -->
{{>homenav}}
<!-- / header -->


    <section>
      <div class="container">
        <div class="row">
          <div class="col">
            <h1>Contact us!</h1>
          </div>
        </div>

        <div class="alert alert-warning alert-dismissible fade show" role="alert">
          <i class="icon-check2"></i>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
          <h4 class="fs-22">Site Update</h4>
          <p>This feature is not available yet</p>
        </div>
        <div class="row">
          <div class="col">
            <div class="row gutter-1 gutter-md-2">
              <div class="col-md-4">
                <div class="form-group">
                  <label for="name">Name</label>
                  <input id="name" class="form-control" type="text" placeholder="Name">
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label for="surname">Surname</label>
                  <input id="surname" class="form-control" type="text" placeholder="Surname">
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label for="email">Email</label>
                  <input id="email" class="form-control" type="text" placeholder="Email">
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group">
                  <label for="message">Message</label>
                  <textarea class="form-control" name="message" id="message" cols="30" rows="10" placeholder="Type your message here ..."></textarea>
                </div>
              </div>
              <div class="col-md-12 mt-1">
                <a href="" class="btn btn-primary px-3">Send Message</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>


{{>footer}}
</body>
</html>