{{>head}}
  <body data-spy="scroll" data-target="#toc">

  <!-- header -->
  {{>homenav}}
  <!-- / header -->

    <!-- hero -->
    <section class="hero bg-blue">
      <div class="container">
        {{>breadcrumb}}
      </div>
    </section>
    <!-- / hero -->

    <!-- sidebar layout -->
    <section class="overlay">
      <div class="container overlay-item-top">
        <div class="row">
          <div class="col">
            <div class="content boxed">
              <div class="row separated">

                <!-- content -->
                <article class="col-md-8 content-body">
                 {{{content}}}
                 {{{sectionHTML}}}
                 {{{blockHTML}}}
                </article>
                <!-- / content -->

                <!-- sidebar -->
                {{>recent}}
                <!-- / sidebar -->

              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- / sidebar layout -->

    {{>footer}}
  </body>
</html>