{{>head}}
  <body data-spy="scroll" data-target="#toc">


  <!-- header -->
  {{>homenav}}
  <!-- / header -->


  <!-- hero -->
  {{>players-breadcrumb}}
  <!-- / hero -->

    <!-- sidebar layout -->
    <section class="overlay">
      <div class="container overlay-item-top">
        <div class="row">
          <div class="col">
            <div class="content boxed">
              <div class="row separated">

                <!-- content -->
                <article class="col-md-8 content-body">
                  <p>Data only goes as far back as the 1984-85 season.</p>
                  {{#players}}
                  <div class="card stacked" style="margin-bottom:50px">
                    <div class="card-body" style="background-image:url({{bio.pic}});background-position-x: right;background-size: contain;background-repeat: no-repeat;">

                      <div class="row gutter-2 align-items-center">
                        <div class="col">
                          <a href="/page/player/{{Player}}" class="topic">
                            {{#Season}}<h3 class="card-title mb-1">{{Season}}</h3>{{/Season}}
                            <h3 class="card-title mb-1">{{Player}}</h3>
                            <p class="card-text mb-2">{{goals}} goals</p>
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                  {{/players}}


                </article>
                <!-- / content -->


                <!-- sidebar -->
                {{>recent}}
                <!-- / sidebar -->


              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- / sidebar layout -->


    {{>footer}}
  </body>
</html>