{{>head}}
  <body data-spy="scroll" data-target="#toc">


  <!-- header -->
  {{>homenav}}
  <!-- / header -->

  <!-- hero -->
  {{>breadcrumb}}
  <!-- / hero -->

    <!-- sidebar layout -->
    <section class="overlay">
      <div class="container overlay-item-top">
        <div class="row">
          <div class="col">
            <div class="content boxed">
              <div class="row separated">

                <!-- content -->
                <article class="col-md-8 content-body">

                  <div id="my_dataviz"></div>

                </article>
                <!-- / content -->


                <!-- sidebar -->
                {{>recent}}
                <!-- / sidebar -->


              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- / sidebar layout -->


    {{>footer}}
  <script src="https://d3js.org/d3.v4.js"></script>
  <script>
{{{graph}}}
</script>
  </body>
</html>