{{>head}}
<body data-spy="scroll" data-target="#toc">


<section class="py-0">
    <div class="container-fluid">
        <div class="row justify-content-between">

            {{>nav2}}

            <!-- content -->
            <article class="col-lg-9 col-xxl-10 doc-content">

                {{>breadcrumb}}

                <div class="row justify-content-between doc-content-body">
                    <article>
                        <h1 class="h2 font-weight-light">{{title}}</h1>
                        <div id="my_dataviz"></div>

                    </article>

                </div>

            </article>
            <!-- / content -->

        </div>
    </div>
</section>

{{>footer}}
<script src="https://d3js.org/d3.v4.js"></script>
<script>
{{{graph}}}
</script>
</body>
</html>