{{>head}}
<body data-spy="scroll" data-target="#toc">


<section class="py-0">
    <div class="container-fluid">
        <div class="row justify-content-between">

            {{>nav2}}

            <!-- content -->
            <article class="col-lg-9 col-xxl-10 doc-content">

                {{>breadcrumb}}

                <div class="row justify-content-between doc-content-body">
                    <article class="col-md-9 col-xxl-8">

                        <h1 class="h2 font-weight-light">Managerial Records</h1>
                        <p >Click the manager for more details</p>
                        {{#managers}}

                        <div class="card stacked" style="margin-bottom:50px">
                            <div class="card-body">
                                <div class="row gutter-2 align-items-center">
                                    <div class="col">
                                        <a href="/managers/{{Name}}.html" class="topic" id="manager-{{Id}}" itemprop="url">
                                        <h3 class="card-title mb-1" itemprop="name">{{Name}}</h3>
                                        <p class="card-text mb-2"><small>
                                            From
                                            <time datetime="{{DateJoined}}" class="text-muted d-block">{{DateJoined}}</time>
                                        </small></p>
                                        <p class="card-text mb-2"><small>
                                            To
                                            <time datetime="{{DateLeft}}" class="text-muted d-block">{{DateLeft}}</time>
                                        </small></p>
                                        </a>
                                    </div>
                                </div>
                                <i class="icon-photo icon-background text-blue"></i>
                            </div>
                        </div>

                        {{/managers}}

                    </article>

                    <aside class="col-md-3 col-xxl-3 d-none d-md-block">
                        <div class="sticky">
                            <ul id="toc" class="nav flex-column toc">
                                <li class="nav-item">
                                    {{#managers}}
                                    <a data-scroll class="nav-link" href="#manager-{{Id}}">{{Name}}</a>
                                    {{/managers}}
                                </li>
                            </ul>
                        </div>
                    </aside>

                </div>

            </article>
            <!-- / content -->

        </div>
    </div>
</section>

{{>footer}}
</body>
</html>