{{>head}}
  <body data-spy="scroll" data-target="#toc">

  <!-- header -->
  {{>homenav}}
  <!-- / header -->

  <!-- hero -->
  {{>results-breadcrumb}}
  <!-- / hero -->

    <!-- sidebar layout -->
    <section class="overlay">
      <div class="container overlay-item-top">
        <div class="row">
          <div class="col">
            <div class="content boxed">
              <div class="row separated">

                <!-- content -->
                <article class="col-md-8 content-body">

                  <p>Click the manager for more details</p>
                  {{#managers}}
                  <div class="card stacked" style="margin-bottom:50px">
                    <div class="card-body">
                      <div class="row gutter-2 align-items-center">
                        <div class="col">
                          <a href="/managers/{{Name}}.html" class="topic" id="manager-{{Id}}" itemprop="url">
                            <h3 class="card-title mb-1" itemprop="name">{{Name}}</h3>
                            <p class="card-text mb-2"><small>
                              From
                              <time datetime="{{DateJoined}}" class="text-muted d-block">{{DateJoined}}</time>
                            </small></p>
                            <p class="card-text mb-2"><small>
                              To
                              <time datetime="{{DateLeft}}" class="text-muted d-block">{{DateLeft}}</time>
                            </small></p>
                          </a>
                        </div>
                      </div>
                      <i class="icon-photo icon-background text-blue"></i>
                    </div>
                  </div>
                  {{/managers}}

                </article>
                <!-- / content -->


                <!-- sidebar -->
                {{>recent}}
                <!-- / sidebar -->

              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- / sidebar layout -->

    {{>footer}}
  </body>
</html>