{{>head}}
  <body data-spy="scroll" data-target="#toc">


  <!-- header -->
  {{>homenav}}
  <!-- / header -->


    <!-- hero -->
    <section class="hero bg-blue">
      <div class="container">
        {{>breadcrumb}}
      </div>
    </section>
    <!-- / hero -->

    <!-- sidebar layout -->
    <section class="overlay">
      <div class="container overlay-item-top">
        <div class="row">
          <div class="col">
            <div class="content boxed">
              <div class="row separated">

                <aside class="col-md-3 content-aside bg-light">
                  <div class="widget">
                    <h3 class="widget-title">Filter</h3>
                    <div class="form-group">
                      <label for="season">Season</label>
                      <select class="form-control form-control-sm" id="season">
                        <option></option>
                        {{#seasons}}<option>{{.}}</option>{{/seasons}}
                      </select>
                    </div>
                    <div class="form-group">
                      <label for="sort">Sort</label>
                      <select class="form-control form-control-sm" id="sort">
                        <option>Starts</option>
                        <option>Goals</option>
                      </select>
                    </div>
                    <div class="form-group">
                      <label for="sort">Filter</label>
                      <select class="form-control form-control-sm" id="filter">
                        <option></option>
                        <option value="OnlyOneApp">One Game Only</option>
                        <option value="GK">Goalkeepers</option>
                        <option value="STR">Strikers</option>
                      </select>
                    </div>
                    <button type="button" class="btn btn-sm btn-primary btn-rounded" onclick="search()">Search</button>
                  </div>

                </aside>
                <article class="col-md-9 content-body tranmere-results">
                  <div id="loading">
                    <div class="spinner-grow text-primary" role="status">
                      <span class="sr-only">Loading...</span>
                    </div>
                  </div>
                  <div id="content"></div>
                </article>

              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- / sidebar layout -->

    {{>footer}}
    <script src="/assets/js/player-search.js?r={{random}}"></script>
  </body>
</html>