{{>head}}
  <body data-spy="scroll" data-target="#toc">


  <!-- header -->
  {{>homenav}}
  <!-- / header -->


    <!-- hero -->
    <section class="hero bg-blue">
      <div class="container">
        <div class="row">
          <div class="col-md-8 text-white mb-3">
            <h1 class="h2 pb-1">{{title}}</h1>
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb breadcrumb-minimal"  itemscope="" itemtype="http://schema.org/BreadcrumbList">
                <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem" class="breadcrumb-item"><a href="/" itemprop="item"><span itemprop="name">Home<meta itemprop="position" content="1"/></span></a></li>
                <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem" class="breadcrumb-item active" aria-current="page"><span itemprop="name">{{title}}</span><meta itemprop="position" content="1"/></li>
              </ol>
            </nav>
          </div>
        </div>
      </div>
    </section>
    <!-- / hero -->

    <!-- sidebar layout -->
    <section class="overlay">
      <div class="container overlay-item-top">
        <div class="row">
          <div class="col">
            <div class="content boxed">
              <div class="row separated">

                <!-- content -->
                <article class="col-md-8 content-body">

                  <div class="row gutter-2">

                    <div class="col-md-6">
                      <div class="boxed p-3">
                        <h4>Player Records</h4>
                        <a class="nav-link" href="/players-80s.html">Players From The 1980's</a>
                        <a class="nav-link" href="/players-80s.html">Players From The 1990's</a>
                        <a class="nav-link" href="/players-00s.html">Players From The 2000's</a>
                        <a class="nav-link" href="/players-10s.html">Players From The 2010's</a>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="boxed p-3">
                        <h4>Top Players</h4>
                        <a class="nav-link" href="/appearances.html">Most Appearances</a>
                        <a class="nav-link" href="/goals.html">Most Goals</a>
                        <a class="nav-link" href="/top-scorers-by-season.html">Top Scorers By Season</a>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="boxed p-3">
                        <h4>Opposition Players</h4>
                        <a class="nav-link" href="/super-stars.html">Opposition Stars</a>
                      </div>
                    </div>
                  </div>

                </article>
                <!-- / content -->


                <!-- sidebar -->
                {{>recent}}
                <!-- / sidebar -->


              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- / sidebar layout -->


    {{>footer}}
  </body>
</html>