{{>head}}
  <body data-spy="scroll" data-target="#toc">


  <!-- header -->
  {{>homenav}}
  <!-- / header -->


    <!-- hero -->
    {{>players-breadcrumb}}
    <!-- / hero -->

    <!-- sidebar layout -->
    <section class="overlay">
      <div class="container overlay-item-top">
        <div class="row">
          <div class="col">
            <div class="content boxed">
              <div class="row separated">

                <!-- content -->
                <article class="col-md-8 content-body">

                  <div class="row gutter-2">
                    {{#resultsByLetter}}
                    <div class="col-md-6">
                      <div class="boxed p-3">
                        <h4>{{key}}</h4>
                        {{#players}}
                        <a class="nav-link" href="/players/{{.}}.html">{{.}}</a>
                        {{/players}}
                      </div>
                    </div>
                    {{/resultsByLetter}}
                  </div>

                </article>
                <!-- / content -->


                <!-- sidebar -->
                {{>recent}}
                <!-- / sidebar -->


              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- / sidebar layout -->


    {{>footer}}
  </body>
</html>