{{>head}}
  <body data-spy="scroll" data-target="#toc">


  <!-- header -->
  {{>homenav}}
  <!-- / header -->

  <!-- hero -->
  {{>results-breadcrumb}}
  <!-- / hero -->

    <!-- sidebar layout -->
    <section class="overlay">
      <div class="container overlay-item-top">
        <div class="row">
          <div class="col">
            <div class="content boxed">
              <div class="row separated">

                <!-- content -->
                <article class="col-md-8 content-body">

                  <div class="row gutter-2">
                    <div class="alert alert-warning alert-dismissible fade show" role="alert">
                      <i class="icon-check2"></i>
                      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">×</span>
                      </button>
                      <h4 class="fs-22">Site Update</h4>
                      <p>Includes league, FA Cup, League Cup and Play Offs - slowly adding other competitions</p>
                    </div>

                    <div class="accordion accordion-stack  col-12" id="accordionExample">
                    {{#decades}}
                    <div class="card" id="section-{{year}}">
                      <div class="card-header" id="headingOne">
                        <h5 class="mb-0">
                          <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse-{{year}}" aria-expanded="false" aria-controls="collapse-{{year}}">
                            Seasons in {{year}}'s
                          </button>
                        </h5>
                      </div>
                      <div id="collapse-{{year}}" class="collapse" aria-labelledby="heading-{{year}}" data-parent="#accordionExample">
                        <div class="card-body pb-0">
                          {{#seasons}}
                          <a href="/seasons/{{year}}.html" class="topic">
                            <div class="row align-items-center">
                              <div class="col-12 col-md-8 col-lg-6">
                                <h4 class="topic-title">{{year}}/{{nextYear}}</h4>
                              </div>
                            </div>
                          </a>
                          {{/seasons}}
                        </div>
                      </div>
                    </div>
                    {{/decades}}
                    </div>
                  </div>

                </article>
                <!-- / content -->


                <!-- sidebar -->
                {{>recent}}
                <!-- / sidebar -->


              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- / sidebar layout -->


    {{>footer}}
  </body>
</html>