.penpic {
    .hero {
        padding-top:150px;
        padding-bottom:0;

        img.overlay-item-bottom {
            width:70%;
            margin-bottom: -3px;
        }
    }

    .image {

    	&[class*="-overlay"] {
    		&::after {
    			background: rgba($black, .01);
    		}
    	}
    }
}