<div class="col-md-12">
    <video
    id="video"
    class="youtube video-js vjs-default-skin video-16-9"
    controls
    width="640" height="264"
    data-setup='{ "techOrder": ["youtube"], "sources": [{ "type": "video/youtube", "src": "{{youtube}}"}], "youtube": { "ytControls": 2 } }'
    >
    </video>
</div>