{{>head}}
<body class="away">

<!-- header -->
{{>homenav}}
<!-- / header -->

    <section>
      <div class="container">
        <div class="row">
          <div class="col">
            <h1>Edit Goal</h1>
          </div>
        </div>

        <div class="alert alert-warning alert-dismissible fade show" role="alert" style="display:none" id="goal-fail-alert" >
          <i class="icon-check2"></i>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
          <h4 class="fs-22">Oops - Something has gone wrong</h4>
          <p>Please try again later</p>
        </div>
        <div class="alert alert-success alert-dismissible fade show" role="alert" style="display:none" id="goal-success-alert" >
          <i class="icon-check2"></i>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
          <h4 class="fs-22">Done</h4>
        </div>
        <div class="row" id="goal-form">
          <div class="col">
            <div class="row gutter-1 gutter-md-2">
              <div class="col-md-4">
                <div class="form-group">
                  <label for="scorer">Scorer</label>
                  <input id="scorer" class="form-control" type="text">
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label for="date">Date</label>
                  <input id="date" class="form-control" type="text" placeholder="2022-01-31">
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label for="assist">Assist</label>
                  <input id="assist" class="form-control" type="text" placeholder="">
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label for="minute">Minute</label>
                  <input id="minute" class="form-control" type="text" placeholder="">
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label for="opposition">Opposition</label>
                  <input id="opposition" class="form-control" type="text" placeholder="">
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label for="goalType">Goal Type</label>
                  <select class="form-control" id="goalType">
                    <option></option>
                    <option>Header</option>
                    <option>Shot</option>
                    <option>Penalty</option>
                    <option>Free Kick</option>
                  </select>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label for="assistType">Assist Type</label>
                  <select class="form-control" id="assistType">
                    <option></option>
                    <option>Pass</option>
                    <option>Cross</option>
                    <option>Corner</option>
                    <option>Free Kick</option>
                  </select>
                </div>
              </div>
              <div class="col-md-12 mt-1">
                <button class="btn btn-primary px-3 update-goal-button">Update</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>


{{>footer}}
</body>
</html>