{{>homeHead}}

<body>

<!-- header -->
{{>homenav}}
<!-- / header -->

<!-- hero -->
<section class="hero bg-blue overlay home-hero">
    <div class="container">
        <div class="row align-items-end justify-content-between">
            <div class="col-sm-12 col-md-6 text-white mb-3 mb-md-0">
                <div class="row gutter-2">
                    <div class="col-12">
                        <h1 class="h3 font-weight-normal">Welcome To Tranmere Web!</h1>
                    </div>
                    <div class="col-12">
                        <h2 class="h4">The website full of data, statistics and information about Tranmere Rovers FC</h2>
                    </div>
                </div>
            </div>
            <div class="co-sm-12 col-md-6">
                <img src="https://www.tranmere-web.com/builder/1989/side-parting-left-small/ffd3b3/none/bc9d00/fcb98b/none/bc8a00" alt="Image" class="overlay-item-bottom">
            </div>
        </div>
        <div class="row gutter-2">
            <div class="col-12">
                <div class="card">
                    <div class="card-body py-2">
                        <div id="autocomplete"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- / hero -->

<!-- sidebar layout -->
<section class="bg-white" style="padding-top:10px;">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="content boxed">
                    <div class="row separated">
                        <!-- sidebar -->

                        {{>recent}}
                        <!-- / sidebar -->
                        <!-- content -->
                        <article class="col-md-8 content-body">    
                            {{>player-of-the-day}}
                            <h2>Frequently Asked Questions</h2>
                            <div class="accordion accordion-stack" id="accordionExample">
                                <div class="card" itemscope itemprop="mainEntity" itemtype="https://schema.org/Question">
                                <div class="card-header" id="headingOne">
                                    <h5 class="mb-0">
                                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne" itemprop="name">
                                        Can I create my own player avatar?
                                    </button>
                                    </h5>
                                </div>
        
                                <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample" itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
                                    <div class="card-body" itemprop="text">
                                    Yes, checkout the custom tool for customizing you own avatar <a href="https://www.tranmere-web.com/player-builder">here</a>
                                    </div>
                                </div>
                                </div>
                                <div class="card" itemscope itemprop="mainEntity" itemtype="https://schema.org/Question">
                                <div class="card-header" id="headingTwo">
                                    <h5 class="mb-0">
                                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo" itemprop="name">
                                        Do you have every Tranmere Rovers result?
                                    </button>
                                    </h5>
                                </div>
                                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample" itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
                                    <div class="card-body" itemprop="text">
                                    We have all first team results since 1921. With appearance and goal data since 1977. Assist data is patchy since it's not definitively recorded.
                                    </div>
                                </div>
                                </div>
                                <div class="card" itemscope itemprop="mainEntity" itemtype="https://schema.org/Question">
                                <div class="card-header" id="headingThree">
                                    <h5 class="mb-0">
                                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree" itemprop="name">
                                        How are match reports written?
                                    </button>
                                    </h5>
                                </div>
                                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample" itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
                                    <div class="card-body" itemprop="text">
                                    All our match reports are written using Generative AI.
                                    </div>
                                </div>
                                </div>
                                <div class="card" itemscope itemprop="mainEntity" itemtype="https://schema.org/Question">
                                <div class="card-header" id="headingFour">
                                    <h5 class="mb-0">
                                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour" itemprop="name">
                                        Where do you get your statistics and results information from?
                                    </button>
                                    </h5>
                                </div>
                                <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample" itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
                                    <div class="card-body" itemprop="text">
                                    Results data is primarily sourced from James P. Curley (2016). engsoccerdata: English Soccer Data 1871-2016 on <a href="https://github.com/jalapic/engsoccerdata/">GitHub</a>. Player apperance data is from various books and internet sources.
                                    </div>
                                </div>
                                </div>
                            
                                <div class="card" itemscope itemprop="mainEntity" itemtype="https://schema.org/Question">
                                    <div class="card-header" id="headingFive">
                                    <h5 class="mb-0">
                                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive" itemprop="name">
                                        Where do the programme pictures come from?
                                        </button>
                                    </h5>
                                    </div>
                                    <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionExample" itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
                                    <div class="card-body" itemprop="text">
                                        I've scanned these in from my own personal collection. There's over 2000 programme covers, including nearly every home game since 1960 (missing about 20!).
                                    </div>
                                    </div>
                                </div>
                            </div>
                        </article>    
 
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- / sidebar layout -->

{{>footer}}
</body>
</html>