{{>head}}
<body data-spy="scroll" data-target="#toc" class="tranmere-results">


<!-- header -->
{{>homenav}}
<!-- / header -->


<section class="hero bg-blue">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-white mb-3">
                <h1 class="h1 pb-1">{{home}} {{ft}} {{visitor}}</h1>
                <h3 class="h3 pb-1">{{competition}}, {{date}}</h3>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb breadcrumb-minimal"  itemscope="" itemtype="http://schema.org/BreadcrumbList">
                        <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem" class="breadcrumb-item"><a href="/" itemprop="item"><span itemprop="name">Home<meta itemprop="position" content="1"/></span></a></li>
                        <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem" class="breadcrumb-item"><a href="/results.html" itemprop="item"><span itemprop="name">Results<meta itemprop="position" content="2"/></span></a></li>
                        <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem" class="breadcrumb-item"><a href="/results.html?season={{season}}" itemprop="item"><span itemprop="name">{{season}}<meta itemprop="position" content="3"/></span></a></li>
                        <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem" class="breadcrumb-item active" aria-current="page"><span itemprop="name">{{date}}</span><meta itemprop="position" content="4"/></li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</section>

<section class="match" id="match">
    <div class="container overlay-item-top">
        {{>match-edit}}
        <div class="row">
            <div class="col">
                <div class="content boxed">
                    <div class="row separated">    
                        <aside class="col-md-4 content-aside bg-light">
                            <div class="widget">
                                {{#largeProgramme}}
                                <img src="https://images.tranmere-web.com/{{largeProgramme}}"/>
                                <br/>
                                <br/>
                                <br/>
                                {{/largeProgramme}}
                                
                                {{#hasVenue}}
                                Venue: <strong>{{venue}}</strong>
                                {{/hasVenue}}

                                {{#hasAttendance}}
                                    <br/>
                                    Attendance: <strong>{{attendance}}</strong>
                                {{/hasAttendance}}
                                <br/>
                                Rovers:
                                {{#goalkeepers}}
                                <a href="/page/player/{{Name}}">{{Name}}</a>{{#SubbedBy}} (<a href="/page/player/{{SubbedBy}}">{{SubbedBy}}</a> {{SubTime}}){{/SubbedBy}}, 
                                {{/goalkeepers}}
                                {{#fullback1}}
                                <a href="/page/player/{{Name}}">{{Name}}</a>{{#SubbedBy}} (<a href="/page/player/{{SubbedBy}}">{{SubbedBy}}</a> {{SubTime}}){{/SubbedBy}}, 
                                {{/fullback1}}
                                {{#defenders}}
                                <a href="/page/player/{{Name}}">{{Name}}</a>{{#SubbedBy}} (<a href="/page/player/{{SubbedBy}}">{{SubbedBy}}</a> {{SubTime}}){{/SubbedBy}}, 
                                {{/defenders}}
                                {{#fullback2}}
                                <a href="/page/player/{{Name}}">{{Name}}</a>{{#SubbedBy}} (<a href="/page/player/{{SubbedBy}}">{{SubbedBy}}</a> {{SubTime}}){{/SubbedBy}}, 
                                {{/fullback2}}
                                {{#wingers1}}
                                <a href="/page/player/{{Name}}">{{Name}}</a>{{#SubbedBy}} (<a href="/page/player/{{SubbedBy}}">{{SubbedBy}}</a> {{SubTime}}){{/SubbedBy}}, 
                                {{/wingers1}}
                                {{#midfielders}}
                                <a href="/page/player/{{Name}}">{{Name}}</a>{{#SubbedBy}} (<a href="/page/player/{{SubbedBy}}">{{SubbedBy}}</a> {{SubTime}}){{/SubbedBy}}, 
                                {{/midfielders}}
                                {{#wingers2}}
                                <a href="/page/player/{{Name}}">{{Name}}</a>{{#SubbedBy}} (<a href="/page/player/{{SubbedBy}}">{{SubbedBy}}</a> {{SubTime}}){{/SubbedBy}}, 
                                {{/wingers2}}
                                {{#strikers}}
                                <a href="/page/player/{{Name}}">{{Name}}</a>{{#SubbedBy}} (<a href="/page/player/{{SubbedBy}}">{{SubbedBy}}</a> {{SubTime}}){{/SubbedBy}}, 
                                {{/strikers}}
                                <br/>
                                Scorers: <strong>{{formattedGoals}}</strong>
                                <div class="edit" style="display: none;">
                                    <h3>Edit Goals</h3>
                                    {{#goals}}
                                    <a href="/edit-goal.html?season={{Season}}&id={{id}}">{{Scorer}}</a><br/>
                                    {{/goals}}
                                </div>
                            </div>
                        </aside>
                        <article class="col-md-8 content-body tranmere-results">
                            
                            <div class="col-md-12" style= "padding-bottom:20px">
                                {{#pens}}<h2>{{pens}}</h2>{{/pens}}
                                {{#report}}
                                <h2>Report</h2>
                                {{{report}}}
                                {{/report}}
                                <h2>Team</h2>
                                <table class="pitch">
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>    
                                    <tr>
                                        {{#goalkeepers}}
                                        <td colspan="24">
                                            <a href="/page/player/{{Name}}"><img src="{{bio.picLink}}"></a>
                                            <a href="/page/player/{{Name}}" class="{{#YellowCard}}yellow{{/YellowCard}} {{#RedCard}}red{{/RedCard}}">{{Name}}</a>
                                            {{#SubbedBy}}<a href="/page/player/{{SubbedBy}}" class="{{#SubYellow}}yellow{{/SubYellow}} {{#SubRed}}red{{/SubRed}}">({{SubbedBy}} {{SubTime}})</a>{{/SubbedBy}}
                                        </td>
                                        {{/goalkeepers}}
                                    </tr>
                                    <tr>
                                        {{#fullback1}}
                                        <td colspan="{{defColspan}}">
                                            <a href="/page/player/{{Name}}"><img src="{{bio.picLink}}"></a>
                                            <a href="/page/player/{{Name}}" class="{{#YellowCard}}yellow{{/YellowCard}} {{#RedCard}}red{{/RedCard}}">{{Name}}</a>
                                            {{#SubbedBy}}<a href="/page/player/{{SubbedBy}}" class="{{#SubYellow}}yellow{{/SubYellow}} {{#SubRed}}red{{/SubRed}}">({{SubbedBy}} {{SubTime}})</a>{{/SubbedBy}}
                                        </td>
                                        {{/fullback1}}
                                        {{#defenders}}
                                        <td colspan="{{defColspan}}">
                                            <a href="/page/player/{{Name}}"><img src="{{bio.picLink}}"></a>
                                            <a href="/page/player/{{Name}}" class="{{#YellowCard}}yellow{{/YellowCard}} {{#RedCard}}red{{/RedCard}}">{{Name}}</a>
                                            {{#SubbedBy}}<a href="/page/player/{{SubbedBy}}" class="{{#SubYellow}}yellow{{/SubYellow}} {{#SubRed}}red{{/SubRed}}">({{SubbedBy}} {{SubTime}})</a>{{/SubbedBy}}
                                        </td>
                                        {{/defenders}}
                                        {{#fullback2}}
                                        <td colspan="{{defColspan}}">
                                            <a href="/page/player/{{Name}}"><img src="{{bio.picLink}}"></a>
                                            <a href="/page/player/{{Name}}" class="{{#YellowCard}}yellow{{/YellowCard}} {{#RedCard}}red{{/RedCard}}">{{Name}}</a>
                                            {{#SubbedBy}}<a href="/page/player/{{SubbedBy}}" class="{{#SubYellow}}yellow{{/SubYellow}} {{#SubRed}}red{{/SubRed}}">({{SubbedBy}} {{SubTime}})</a>{{/SubbedBy}}
                                        </td>
                                        {{/fullback2}}
                                    </tr>
                                    <tr>
                                        {{#wingers1}}
                                        <td colspan="{{midColspan}}">
                                            <a href="/page/player/{{Name}}"><img src="{{bio.picLink}}"></a>
                                            <a href="/page/player/{{Name}}" class="{{#YellowCard}}yellow{{/YellowCard}} {{#RedCard}}red{{/RedCard}}">{{Name}}</a>
                                            {{#SubbedBy}}<a href="/page/player/{{SubbedBy}}" class="{{#SubYellow}}yellow{{/SubYellow}} {{#SubRed}}red{{/SubRed}}">({{SubbedBy}} {{SubTime}})</a>{{/SubbedBy}}
                                        </td>
                                        {{/wingers1}}
                                        {{#midfielders}}
                                        <td colspan="{{midColspan}}">
                                            <a href="/page/player/{{Name}}"><img src="{{bio.picLink}}"></a>
                                            <a href="/page/player/{{Name}}" class="{{#YellowCard}}yellow{{/YellowCard}} {{#RedCard}}red{{/RedCard}}">{{Name}}</a>
                                            {{#SubbedBy}}<a href="/page/player/{{SubbedBy}}" class="{{#SubYellow}}yellow{{/SubYellow}} {{#SubRed}}red{{/SubRed}}">({{SubbedBy}} {{SubTime}})</a>{{/SubbedBy}}
                                        </td>
                                        {{/midfielders}}
                                        {{#wingers2}}
                                        <td colspan="{{midColspan}}">
                                            <a href="/page/player/{{Name}}"><img src="{{bio.picLink}}"></a>
                                            <a href="/page/player/{{Name}}" class="{{#YellowCard}}yellow{{/YellowCard}} {{#RedCard}}red{{/RedCard}}">{{Name}}</a>
                                            {{#SubbedBy}}<a href="/page/player/{{SubbedBy}}" class="{{#SubYellow}}yellow{{/SubYellow}} {{#SubRed}}red{{/SubRed}}">({{SubbedBy}} {{SubTime}})</a>{{/SubbedBy}}
                                        </td>
                                        {{/wingers2}}
                                    </tr>
                                    <tr>
                                        {{#strikers}}
                                        <td colspan="{{strColspan}}">
                                            <a href="/page/player/{{Name}}"><img src="{{bio.picLink}}"></a>
                                            <a href="/page/player/{{Name}}" class="{{#YellowCard}}yellow{{/YellowCard}} {{#RedCard}}red{{/RedCard}}">{{Name}}</a>
                                            {{#SubbedBy}}<a href="/page/player/{{SubbedBy}}" class="{{#SubYellow}}yellow{{/SubYellow}} {{#SubRed}}red{{/SubRed}}">({{SubbedBy}} {{SubTime}})</a>{{/SubbedBy}}
                                        </td>
                                        {{/strikers}}
                                    </tr>
                                </table>
                            </div>
                            <div class="col-md-12">
                                <h2>Previous 5 Matches</h2>
                                <div id="previous-five-loading">
                                    <div class="spinner-grow text-primary" role="status">
                                        <span class="sr-only">Loading...</span>
                                    </div>
                                </div>
                                <div id="previous-five-content"></div>
                            </div>
                            <div class="col-md-12">
                                <h2>Next 5 Matches</h2>
                                <div id="next-five-loading">
                                    <div class="spinner-grow text-primary" role="status">
                                        <span class="sr-only">Loading...</span>
                                    </div>
                                </div>
                                <div id="next-five-content"></div>
                            </div>
                          </article>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script>
    window.season = {{season}};
    window.date = "{{date}}";
</script>
{{>footer}} 
</body>
</html>