{{>head}}

<body>

<!-- header -->
{{>homenav}}
<!-- / header -->

<!-- hero -->
<section class="hero bg-blue overlay">
    <div class="container">
        <div class="row align-items-end justify-content-between">
            <div class="col-md-12 text-white mb-3 mb-md-0">
                <div class="row gutter-2">
                    <div class="col-12">
                        <h1 class="h2 font-weight-normal">{{title}}</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- / hero -->


<!-- categories -->
<section class="bg-white" style="padding:0px">
    <div class="container">
        <div class="row">
            <!-- content -->
            <article class="col-md-12 content-body">
                <div id="searchresults"></div>
                <div id="searchbox"></div>
                <div id="searchresultspanel"></div>
            </article>
            <!-- / content -->

        </div>
    </div>
</section>
<!-- / categories -->

{{>footer}}
</body>
</html>