<div class="row">
    <div class="col-6">
        <div class="row gutter-2">
            <div class="col">
                <img width="350px" src="https://www.tranmere-web.com/builder/{{img}}"/>
                <h4>Link: <a href="https://www.tranmere-web.com/builder/{{img}}">here</a></h4>
            </div>
        </div>
    </div>
    
    <div class="col-6">
        <div class="row gutter-2">
            <div class="col">
                <img width="100px" src="https://www.tranmere-web.com/builder/{{img}}"/>
            </div>
        </div>
    </div>
</div>