<div class="card bordered text-center" itemscope itemtype ="https://schema.org/SportsEvent">
    <div class="card-body pr-8">
        <h3 class="fs-28 text-dark"><b>Last Match</b> </h3>
        {{#largeprogramme}}<meta itemprop="image" content="https://images.tranmere-web.com/{{.}}" />{{/largeprogramme}}
        <meta itemprop="startDate" content="{{date}}" />
        <meta itemprop="awayTeam" content="{{visitor}}" />
        <meta itemprop="homeTeam" content="{{home}}" />
        <meta itemprop="name" content="{{home}} {{ft}} {{visitor}} " />
        <meta itemprop="location" content="{{venue}} " />
        <h4>{{opposition}} ({{ft}})</h4>
        {{#largeprogramme}}<p class="mt-2"> <img src="https://images.tranmere-web.com/{{.}}"/></p>{{/largeprogramme}}
        <a href="/match/{{season}}/{{date}}" class="btn btn-primary">Match Report</a> 
        <i class="icon-trophy icon-background"></i>
    </div> 
</div>