<div class="card bordered text-center">
    <div class="card-body pr-8">
        <h3 class="fs-28 text-dark"><b>Last Match</b> </h3>
        <h4>{{opposition}} ({{ft}})</h4>
        {{#largeprogramme}}<p class="mt-2"> <img src="https://images.tranmere-web.com/{{.}}"/></p>{{/largeprogramme}}
        <a href="/match/{{season}}/{{date}}" class="btn btn-primary">Match Report</a> 
        <i class="icon-backward icon-background"></i>
    </div> 
</div>