
<section class="hero bg-blue">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-white mb-3">
                <h1 class="h1 pb-1">{{home}} {{ft}} {{visitor}}</h1>
                <h3 class="h3 pb-1">{{competition}}, {{date}}</h3>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb breadcrumb-minimal"  itemscope="" itemtype="http://schema.org/BreadcrumbList">
                        <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem" class="breadcrumb-item"><a href="/" itemprop="item"><span itemprop="name">Home<meta itemprop="position" content="1"/></span></a></li>
                        <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem" class="breadcrumb-item"><a href="/results.html" itemprop="item"><span itemprop="name">Results<meta itemprop="position" content="2"/></span></a></li>
                        <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem" class="breadcrumb-item"><a href="/results.html?season={{season}}" itemprop="item"><span itemprop="name">{{season}}<meta itemprop="position" content="3"/></span></a></li>
                        <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem" class="breadcrumb-item active" aria-current="page"><span itemprop="name">{{date}}</span><meta itemprop="position" content="4"/></li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</section>

<section class="match">
<div class="container overlay-item-top">
    <div class="row">
        <div class="col">
            <div class="content boxed">
                <div class="row separated">

                    <aside class="col-md-4 content-aside bg-light">
                        <div class="widget">
                            {{#largeProgramme}}
                            <img src="https://images.tranmere-web.com/{{largeProgramme}}"/>
                            <br/>
                            <br/>
                            <br/>
                            {{/largeProgramme}}

                            Venue: <strong>{{venue}}</strong>
                            <br/>
                            Attendance: <strong>{{attendance}}</strong>
                            <br/>
                            Scorers: <strong>{{formattedGoals}}</strong>
                        </div>

                    </aside>
                    <article class="col-md-8 content-body tranmere-results">
                        {{#pens}}<h4>{{pens}}</h4>{{/pens}}

                        <h4>Team</h4>
                        <table class="pitch">
                            <tr>
                                {{#goalkeepers}}
                                <td colspan="20">
                                    <img src="{{bio.pic.fields.file.url}}">
                                    <a href="/page/player/{{Name}}">{{Name}}</a>
                                    {{#SubbedBy}}<a href="/page/player/{{SubbedBy}}">({{SubbedBy}} {{SubTime}})</a>{{/SubbedBy}}
                                </td>
                                {{/goalkeepers}}
                            </tr>
                            <tr>
                                {{#defenders}}
                                <td colspan="{{defColspan}}">
                                    <img src="{{bio.pic.fields.file.url}}">
                                    <a href="/page/player/{{Name}}">{{Name}}</a>
                                    {{#SubbedBy}}<a href="/page/player/{{SubbedBy}}">({{SubbedBy}} {{SubTime}})</a>{{/SubbedBy}}
                                </td>
                                {{/defenders}}
                            </tr>
                            <tr>
                                {{#midfielders}}
                                <td colspan="{{midColspan}}">
                                    <img src="{{bio.pic.fields.file.url}}">
                                    <a href="/page/player/{{Name}}">{{Name}}</a>
                                    {{#SubbedBy}}<a href="/page/player/{{SubbedBy}}">({{SubbedBy}} {{SubTime}})</a>{{/SubbedBy}}
                                </td>
                                {{/midfielders}}
                            </tr>
                            <tr>
                                {{#strikers}}
                                <td colspan="{{strColspan}}">
                                    <img src="{{bio.pic.fields.file.url}}">
                                    <a href="/page/player/{{Name}}">{{Name}}</a>
                                    {{#SubbedBy}}<a href="/page/player/{{SubbedBy}}">({{SubbedBy}} {{SubTime}})</a>{{/SubbedBy}}
                                </td>
                                {{/strikers}}
                            </tr>

                        </table>

                    </article>


                </div>
            </div>
        </div>
    </div>
</div>
</section>
