<div class="card bordered text-center" itemscope itemtype ="https://schema.org/SportsEvent">
    <div class="card-body pr-8">
        {{#largeprogramme}}<meta itemprop="image" content="https://images.tranmere-web.com/{{.}}" />{{/largeprogramme}}
        <meta itemprop="startDate" content="{{date}}" />
        <meta itemprop="awayTeam" content="{{visitor}}" />
        <meta itemprop="homeTeam" content="{{home}}" />
        <meta itemprop="location" content="{{home}}" />
        <meta itemprop="name" content="{{home}} {{hgoal}}-{{vgoal}} {{visitor}} " />
        <h3 class="fs-28 text-dark"><b>On This Day</b> </h3>
        <h5>{{opposition}} ({{season}})</h5>
        <p class="mt-2"> <img src="https://images.tranmere-web.com/{{largeprogramme}}"/></p>
        <a itemprop="url" href="/match/{{season}}/{{date}}" class="btn btn-primary">Match Report</a> 
        <i class="icon-backward icon-background"></i>
    </div>
</div>