<div class="widget">
    <h3 class="widget-title">On This Day</h3>
    <p><strong>{{opposition}}</strong> ({{season}})</p>
    <p>{{hgoal}}-{{vgoal}}</p>
    <p><a href="/match/{{season}}/{{date}}">Match Report</a></p>
    <img src="https://images.tranmere-web.com/{{largeprogramme}}"/>
</div>