
<table class="table">
    <thead class="thead-dark">
    <tr>
        <th scope="col">Name</th>
        <th scope="col" class="text-center">Starts</th>
        <th scope="col" class="text-center">Goals</th>
        <th scope="col" class="text-center d-none d-sm-table-cell">Assists</th>
        <th scope="col" class="text-center">Pic</th>
    </tr>
    </thead>
    <tbody>
    {{#players}}
    <tr>
        <td>
            <a href="/page/player/{{Player}}">{{Player}}</a>
        </td>
        <td class="text-center">{{starts}} {{#subs}}({{subs}}){{/subs}}</td>
        <td class="text-center">{{goals}}</td>
        <td class="d-none d-sm-table-cell text-center">{{assists}}</td>
        <td class="text-center">{{#bio.picLink}}<img width="75px" src="{{bio.picLink}}"/>{{/bio.picLink}}</td>
    </tr>
    {{/players}}
    </tbody>
</table>
