
<table class="table">
    <thead class="thead-dark">
    <tr>
        <th scope="col">Name</th>
        <th scope="col" class="text-center">DOB</th>
        <th scope="col" class="text-center">Starts</th>
        <th scope="col" class="text-center">Goals</th>
        <th scope="col" class="text-center d-none d-sm-table-cell">Pic</th>
    </tr>
    </thead>
    <tbody>
    {{#players}}
    <tr>
        <td>
            <a href="/players/{{Player}}.html">{{Player}}</a>
        </td>
        <td class="text-center">{{bio.dateOfBirth}}</td>
        <td class="text-center">{{starts}} {{#subs}}({{subs}}){{/subs}}</td>
        <td class="text-center">{{goals}}</td>
        <td class="d-none d-sm-table-cell text-center">{{#bio.pic}}<img width="75px" src="{{bio.pic}}"/>{{/bio.pic}}</td>
    </tr>
    {{/players}}
    </tbody>
</table>
