
<table class="table">
    <thead class="thead-dark">
    <tr>
        <th scope="col">Name</th>
        <th scope="col" class="text-center">DOB</th>
        <th scope="col" class="text-center">Starts</th>
        <th scope="col" class="text-center">Goals</th>
        <th scope="col" class="text-center d-none d-sm-table-cell">Pic</th>
    </tr>
    </thead>
    <tbody>
    {{#players}}
    <tr>
        <td>
            <a href="/players/{{Name}}.html">{{Name}}</a>
        </td>
        <td class="text-center">{{Bio.dateOfBirth}}</td>
        <td class="text-center">{{Starts}} {{#Subs}}({{Subs}}){{/Subs}}</td>
        <td class="text-center">{{Goals}}</td>
        <td class="d-none d-sm-table-cell text-center">{{#Bio.pic}}<img width="75px" src="{{Bio.pic}}"/>{{/Bio.pic}}</td>
    </tr>
    {{/players}}
    </tbody>
</table>
