
<table class="table">
    <thead class="thead-dark">
    <tr>
        <th scope="col">Name</th>
        <th scope="col" class="text-center">Season</th>
        <th scope="col" class="text-center">In/Out</th>
        <th scope="col" class="text-center">Club</th>
        <th scope="col" class="text-center">Value</th>
    </tr>
    </thead>
    <tbody>
    {{#transfers}}
    <tr>
        <td>
            <a href="/page/player/{{name}}">{{name}}</a>
        </td>
        <td class="text-center">{{season}}</td>
        <td class="text-center">{{type}}</td>
        <td class="text-center">{{team}}</td>
        <td class="text-center">{{value}}</td>
    </tr>
    {{/transfers}}
    </tbody>
</table>
