.pitch {
    background-color:#006400; width: 100%;

    td {
        text-align:center;
        color:#ffffff;
        padding: 10px;
        vertical-align: top;

        img {
            width: 75px;

        }
        a {
            display: block;
            color: #ffffff;
            text-decoration: none;
        }
    }
}