<header class="header header-sticky header-transparent">
    <div class="container">
        <div class="row">
            <nav class="navbar navbar-expand-lg navbar-dark">
            <div itemscope itemtype="http://schema.org/Organization">
            <a itemprop="url" href="https://www.tranmere-web.com" title="Tranmere-Web.com" class="navbar-brand"><img src="/assets/logos/logo_white_transparent.png" alt="Tranmere-Web.com" itemprop="logo"></a>
            </div>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link active" href="/">Home</span></a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdown-1" role="button" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">
                        Results
                    </a>
                    <div class="dropdown-menu" aria-labelledby="dropdown-1">
                        <a class="dropdown-item" href="/results.html">Results Home</a>
                        <a class="dropdown-item" href="/seasons.html">Results By Season</a>
                        <a class="dropdown-item" href="/teams.html">Results By Opposition</a>
                        <a class="dropdown-item" href="/competitions.html">Results By Competition</a>
                        <a class="dropdown-item" href="/wembley.html">Tranmere At Wembley</a>
                        <a class="dropdown-item" href="/penalty-shootouts.html">Penalty Shootouts</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdown-2" role="button" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">
                        Players
                    </a>
                    <div class="dropdown-menu" aria-labelledby="dropdown-2">
                        <a class="dropdown-item" href="/players.html">Players Home</a>
                        <a class="dropdown-item" href="/players-80s.html">80's Players</a>
                        <a class="dropdown-item" href="/players-90s.html">90's Players</a>
                        <a class="dropdown-item" href="/appearances.html">Most Tranmere Appearances</a>
                        <a class="dropdown-item" href="/goals.html">Most Tranmere Goals</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdown-3" role="button" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">
                        Stats
                    </a>
                    <div class="dropdown-menu" aria-labelledby="dropdown-3">
                        <a class="dropdown-item" href="/stats.html">Stats Home</a>
                        <a class="dropdown-item" href="/attendances.html">Highest Tranmere Attendances</a>
                        <a class="dropdown-item" href="/prenton-park-attendances.html">Highest Tranmere Attendances at Prenton Park</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdown-4" role="button" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">
                        Media
                    </a>
                    <div class="dropdown-menu" aria-labelledby="dropdown-4">
                        <a class="dropdown-item" href="/media.html">Media Home</a>
                        <a class="dropdown-item" href="/media/fanzines.html">Fanzines</a>
                        <a class="dropdown-item" href="/media/books.html">Books</a>
                        <a class="dropdown-item" href="/media/cards.html">Football Cards</a>
                        <a class="dropdown-item" href="/links.html">Links</a>
                    </div>
                </li>
            </ul>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="https://github.com/chrisowen491/tranmere-web">Sourcecode</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/about.html">About the Site</a>
                </li>
            </ul>
        </div>
    </nav>
</div>
        </div>
        </header>