<div class="row gutter-2">
    {{#groups}}
    <div class="col-md-6">
        <div class="boxed p-3">
            <h4>{{groupName}}</h4>
            {{#links}}
            <a class="nav-link" href="{{linkUrl}}">{{linkText}}</a>
            {{/links}}
        </div>
    </div>
    {{/groups}}
</div>