<!-- navigation -->
<aside class="col-lg-3 col-xxl-2 p-3 doc-sidebar">
    <div class="sticky">
        <nav class="navbar navbar-vertical navbar-expand-lg navbar-light">
            <div>
                <a href="/index.html" class="navbar-brand"><img src="/assets/logos/logo_v1.png" alt="Logo"></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>


            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul id="page-nav" class="nav flex-column nav-vertical-2">
                    <li class="nav-item active">
                        <a class="nav-link" data-toggle="collapse" href="#menu-1" role="button" aria-expanded="true" aria-controls="menu-1">Quick Links</a>
                        <div class="collapse show" id="menu-1" data-parent="#page-nav">
                            <ul class="nav flex-column">
                                <li class="nav-item">
                                    <a class="nav-link" href="/">Home</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/seasons.html">Results By Season</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/teams.html">Matches By Opposition Team</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="collapse" href="#menu-2" role="button" aria-expanded="false" aria-controls="menu-2">Content</a>
                        <div class="collapse" id="menu-2" data-parent="#page-nav">
                            <div>
                                <ul class="nav flex-column">
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">Typography</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="collapse" href="#menu-3" role="button" aria-expanded="false" aria-controls="menu-3">Components</a>
                        <div class="collapse" id="menu-3" data-parent="#page-nav">
                            <div>
                                <ul class="nav flex-column">
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">Accordions</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</aside>
        <!-- / navigation -->