<div class="row justify-content-between doc-content-body">
    <article class="col-12 tranmere-results">
        {{#matches}}
        <div class="card" >
            {{#programme}}
            <div class="card-body" style="background-image:url(https://images.tranmere-web.com/{{programme}});">
            {{/programme}}
            {{^programme}}
            <div class="card-body">
                <i class="icon-photo icon-background text-blue"></i>
            {{/programme}}
                <div class="row gutter-2 align-items-center">
                    <div class="col">
                        <h5 class="card-title mb-1" id="{{Player}}">{{Player}}</h5>
                        <p class="card-text mb-2">{{Notes}}</p>
                        <p class="card-text mb-2">{{home}} {{FT}} {{visitor}} ({{competition}})</p>
                        <p class="card-text mb-2"><small><time datetime="{{Date}}" class="text-muted d-block">{{Date}}</time></small></p>
                        {{#pens}}<p class="card-text mb-2">{{pens}}</p>{{/pens}}
                        <div class="accordion accordion-fluid" id="accordion-{{Date}}">
                            {{#report}}
                            <button class="btn btn-sm btn-primary" type="button" data-toggle="collapse" data-target="#collapse-{{Date}}" aria-expanded="false" aria-controls="collapse-{{Date}}">Match Summary</button>
                            {{/report}}
                            {{#programme}}<a href="https://images.tranmere-web.com/{{largeProgramme}}" class="btn btn-sm btn-rounded btn-primary">Programme</a>{{/programme}}
                            {{#report}}
                            <div id="collapse-{{Date}}" class="collapse" aria-labelledby="{{Date}}" data-parent="#accordion-{{Date}}">
                                <div class="card-body">
                                {{#isCup}}
                                <div class="row">
                                    <div class="col-2">
                                        <img class="rounded mx-auto d-block" alt="Cup" title="Cup" width="40px" height="40px" src="/assets/icons/044-playoff.png"  />
                                    </div>
                                    <div class="col-10">
                                        <small>
                                            {{round}} Round {{tie}}
                                        </small>
                                    </div>
                                </div>
                                {{/isCup}}
                                {{#attendance}}
                                <div class="row">
                                    <div class="col-2">
                                        <img class="rounded mx-auto d-block" alt="Attendance" title="Attendance" width="40px" height="40px" src="/assets/icons/054-stadium.png"  />
                                    </div>
                                    <div class="col-10">
                                        <small>
                                            {{attendance}}
                                        </small>
                                    </div>
                                </div>
                                {{/attendance}}
                                <div class="row">
                                    <div class="col-2">
                                        <img class="rounded mx-auto d-block" alt="Rovers Team" title="Rovers Team" width="40px" height="40px" src="/assets/icons/043-player.svg"  />
                                    </div>
                                    <div class="col-10">
                                        <small>
                                            {{#apps}}<a href="/players/{{Name}}.html">{{Name}}</a>{{#SubbedBy}} (<a href="/players/{{SubbedBy}}.html">{{SubbedBy}}</a>){{/SubbedBy}}{{#SubSubbedBy}} (<a href="/players/{{SubSubbedBy}}.html">{{SubSubbedBy}}</a>){{/SubSubbedBy}}, {{/apps}}
                                        </small>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-2">
                                        <img class="rounded mx-auto d-block" alt="goals" title="goals" width="40px" height="40px" src="/assets/icons/004-soccer ball.svg" />
                                    </div>
                                    <div class="col-10">
                                        <small>{{formattedGoals}}</small>
                                    </div>
                                </div>

                            </div>
                            </div>
                            {{/report}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{/matches}}
    </article>
</div>