{{#topScorers}}
<div class="card stacked" style="margin-bottom:50px">
    <div class="card-body" style="background-image:url({{bio.pic.fields.file.url}});background-position-x: right;background-size: contain;background-repeat: no-repeat;">
        <div class="row gutter-2 align-items-center">
            <div class="col">
                <a href="/page/player/{{Player}}" class="topic">
                    {{#Season}}<h3 class="card-title mb-1">{{Season}}</h3>{{/Season}}
                    <h3 class="card-title mb-1">{{Player}}</h3>
                    <p class="card-text mb-2">{{goals}} goals</p>
                </a>
            </div>
        </div>
    </div>
</div>
{{/topScorers}}