name: Tidy Deploy

on:
  push:
    branches: [ master ]
    paths:
      - 'packages/tidy/**'
      - '.github/workflows/tidy.yml'   

permissions: read-all

jobs:
  publish_site:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      deployments: write
    name: Publish Cloudflare Worker
    steps:
      - name: Checkout
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
      - uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
        with:
          node-version: '20'
      # Run a build step here if your project requires
      - name: Install
        run: yarn --frozen-lockfile 
      - name: Deploy
        id: deploy
        uses: cloudflare/wrangler-action@da0e0dfe58b7a431659754fdf3f186c529afbe65
        with:
          apiToken: ${{ secrets.CLOUDFLARE_AUTH_KEY }}
          accountId: ${{ secrets.CLOUDFLARE_ACCOUNT_ID }}
          workingDirectory: ./packages/tidy
          secrets: |
            CLOUDFLARE_AUTH_KEY
            CLOUDFLARE_ACCOUNT_ID
        env:
            CLOUDFLARE_AUTH_KEY: ${{ secrets.CLOUDFLARE_AUTH_KEY }}    
            CLOUDFLARE_ACCOUNT_ID: ${{ secrets.CLOUDFLARE_ACCOUNT_ID }}          