name: Version Pull Request

on:
  pull_request:
    branches: [ "notused" ]

permissions: read-all

jobs:

  version:
    runs-on: ubuntu-latest
    permissions:
      contents: write 
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
      - uses: actions/create-github-app-token@67018539274d69449ef7c02e8e71183d1719ab42
        id: app-token
        with:
          app-id: ${{ vars.VERSION_BUMPER_APPID }}
          private-key: ${{ secrets.VERSION_BUMPER_SECRET }}      
      - name: Automated Version Bump
        uses: phips28/gh-action-bump-version@71473b25295fe3907df2ff87cce295a0dce1b20b
        with:
          tag-prefix: 'v'
        env:
          GITHUB_TOKEN: ${{ steps.app-token.outputs.token }}